In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/co2-emissions-by-category.csv") 
df

,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,1850,53.698681,53.698681,0.000000,0.000000,0.000000,0.000000,0.000000,0.042527
1,1851,54.221643,54.221643,0.000000,0.000000,0.000000,0.000000,0.000000,0.042724
2,1852,56.608683,56.608683,0.000000,0.000000,0.000000,0.000000,0.000000,0.044378
3,1853,59.257762,59.257762,0.000000,0.000000,0.000000,0.000000,0.000000,0.046219
4,1854,69.605122,69.605122,0.000000,0.000000,0.000000,0.000000,0.000000,0.054015
...,...,...,...,...,...,...,...,...,...
168,2018,10034.646591,4018.898673,3348.099796,2046.403150,427.347861,111.160988,82.736122,1.305950
169,2019,10109.198523,4007.727356,3378.261152,2080.083921,440.986929,118.839384,83.299782,1.301901
170,2020,9554.513897,3882.618738,2974.876797,2062.025496,445.700507,108.766185,80.526175,1.218540
171,2021,10048.182980,4089.114870,3142.669436,2162.148401,461.900587,110.106159,82.243527,1.270427
172,2022,10139.133388,4153.740197,3241.780995,2114.757130,438.175248,108.474851,82.204967,1.271348